#include <windows.h>
#include <inf.plugin.infernal_synth.format.vst/plugin.hpp>

#define APSTUDIO_READONLY_SYMBOLS

VS_VERSION_INFO VERSIONINFO
 FILEVERSION INF_PLUGIN_INFERNAL_SYNTH_FORMAT_VST_VERSION_MAJOR, INF_PLUGIN_INFERNAL_SYNTH_FORMAT_VST_VERSION_MINOR, INF_PLUGIN_INFERNAL_SYNTH_FORMAT_VST_VERSION_REVISION, 0
 PRODUCTVERSION INF_PLUGIN_INFERNAL_SYNTH_FORMAT_VST_VERSION_MAJOR, INF_PLUGIN_INFERNAL_SYNTH_FORMAT_VST_VERSION_MINOR, INF_PLUGIN_INFERNAL_SYNTH_FORMAT_VST_VERSION_REVISION, 0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004e4"
        BEGIN
            VALUE "ProductName", INF_PLUGIN_INFERNAL_SYNTH_FORMAT_VST_NAME
            VALUE "FileVersion", INF_PLUGIN_INFERNAL_SYNTH_FORMAT_VST_VERSION
            VALUE "ProductVersion", INF_PLUGIN_INFERNAL_SYNTH_FORMAT_VST_VERSION
            VALUE "CompanyName", INF_PLUGIN_INFERNAL_SYNTH_FORMAT_VST_COMPANY_NAME
            VALUE "InternalName", INF_PLUGIN_INFERNAL_SYNTH_FORMAT_VST_ORIG_FILE_NAME
            VALUE "FileDescription", INF_PLUGIN_INFERNAL_SYNTH_FORMAT_VST_ORIG_FILE_NAME
            VALUE "LegalCopyright", INF_PLUGIN_INFERNAL_SYNTH_FORMAT_VST_LEGAL_COPYRIGHT
            VALUE "OriginalFilename", INF_PLUGIN_INFERNAL_SYNTH_FORMAT_VST_ORIG_FILE_NAME
            VALUE "LegalTrademarks", INF_PLUGIN_INFERNAL_SYNTH_FORMAT_VST_LEGAL_TRADEMARKS
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1252
    END
END