#include <windows.h>
#include <inf.plugin.infernal_synth.format.vst3/plugin.hpp>

#define APSTUDIO_READONLY_SYMBOLS

VS_VERSION_INFO VERSIONINFO
 FILEVERSION IPIS_VERSION_MAJOR, IPIS_VERSION_MINOR, IPIS_VERSION_REVISION, 0
 PRODUCTVERSION IPIS_VERSION_MAJOR, IPIS_VERSION_MINOR, IPIS_VERSION_REVISION, 0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004e4"
        BEGIN
            VALUE "ProductName", IPISFV3_NAME
            VALUE "FileVersion", IPIS_VERSION
            VALUE "ProductVersion", IPIS_VERSION
            VALUE "CompanyName", IPIS_VENDOR_NAME
            VALUE "InternalName", IPISFV3_NAME
            VALUE "FileDescription", IPISFV3_NAME
            VALUE "LegalCopyright", IPISFV3_VENDOR
            VALUE "OriginalFilename", IPISFV3_NAME
            VALUE "LegalTrademarks", "VST is a trademark of Steinberg Media Technologies GmbH"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1252
    END
END