#include <windows.h>
#include <inf.plugin.infernal_synth.format.vst3/plugin.hpp>

#define APSTUDIO_READONLY_SYMBOLS

VS_VERSION_INFO VERSIONINFO
 FILEVERSION IPISFV3_VERSION_MAJOR, IPISFV3_VERSION_MINOR, IPISFV3_VERSION_REVISION, 0
 PRODUCTVERSION IPISFV3_VERSION_MAJOR, IPISFV3_VERSION_MINOR, IPISFV3_VERSION_REVISION, 0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004e4"
        BEGIN
            VALUE "ProductName", IPISFV3_NAME
            VALUE "FileVersion", IPISFV3_VERSION
            VALUE "ProductVersion", IPISFV3_VERSION
            VALUE "CompanyName", IPISFV3_COMPANY_NAME
            VALUE "InternalName", IPISFV3_ORIG_FILE_NAME
            VALUE "FileDescription", IPISFV3_ORIG_FILE_NAME
            VALUE "LegalCopyright", IPISFV3_LEGAL_COPYRIGHT
            VALUE "OriginalFilename", IPISFV3_ORIG_FILE_NAME
            VALUE "LegalTrademarks", IPISFV3_LEGAL_TRADEMARKS
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1252
    END
END