#include <windows.h>
#include <inf.vst.synth.fx/plugin.hpp>

#define APSTUDIO_READONLY_SYMBOLS

VS_VERSION_INFO VERSIONINFO
 FILEVERSION INF_VST_INFERNAL_SYNTH_VERSION_MAJOR, INF_VST_INFERNAL_SYNTH_VERSION_MINOR, INF_VST_INFERNAL_SYNTH_VERSION_REVISION, 0
 PRODUCTVERSION INF_VST_INFERNAL_SYNTH_VERSION_MAJOR, INF_VST_INFERNAL_SYNTH_VERSION_MINOR, INF_VST_INFERNAL_SYNTH_VERSION_REVISION, 0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004e4"
        BEGIN
            VALUE "ProductName", INF_VST_INFERNAL_SYNTH_NAME
            VALUE "FileVersion", INF_VST_INFERNAL_SYNTH_VERSION
            VALUE "ProductVersion", INF_VST_INFERNAL_SYNTH_VERSION
            VALUE "CompanyName", INF_VST_INFERNAL_SYNTH_COMPANY_NAME

            VALUE "OriginalFilename", INF_VST_INFERNAL_SYNTH_ORIG_FILE_NAME
            VALUE "FileDescription", INF_VST_INFERNAL_SYNTH_ORIG_FILE_NAME
            VALUE "InternalName", INF_VST_INFERNAL_SYNTH_ORIG_FILE_NAME
            VALUE "LegalCopyright", INF_VST_INFERNAL_SYNTH_LEGAL_COPYRIGHT
            VALUE "LegalTrademarks", INF_VST_INFERNAL_SYNTH_LEGAL_TRADEMARKS
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1252
    END
END